@using Zadatak2.Models.TodoViewModels
@model Zadatak2.Models.TodoViewModels.CompletedViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Completed todos</title>
</head>

<body>
    <div>
        <h2><b>Completed todos</b></h2>

        @foreach(TodoViewModel model in Model.TodoViewModels)
        {
            Html.RenderPartial("TodoPartial", model);

        }
        <br />
        <a asp-controller="Todo" asp-action="Index">Back</a>

    </div>
</body>
</html>